name: unit test


on: 
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:

  retry:

    runs-on: ubuntu-latest
    steps:
       - uses: actions/checkout@v5
       - uses: actions/setup-go@v6
         with:
           go-version: '1.25.4'
       - run: go version
       - run: go test -v ./internal/retry







  circuit:

    runs-on: ubuntu-latest
    steps:
      -  run: echo "Hello"




    

