name: unit test


on: 
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:

  retry:

    runs-on: ubuntu-latest
    steps:
      -  run: echo "Hello"








  circuit:

    runs-on: ubuntu-latest
    steps:
      -  run: echo "Hello"




    

